<div class="navbar navbar-default" ng-class="{'navbar-fixed-top': settings.ace.settings.navbar}"
     ng-include="'views/layouts/default/partial/navbar.html'"></div>

<div class="main-container" ng-class="{'container': settings.ace.settings.container}">

    <div id="sidebar" class="sidebar responsive"  scroll="true" hover="true"
         ng-class="{'menu-min': settings.ace.sidebar.minimized, 'sidebar-fixed': settings.ace.settings.sidebar, 'compact': settings.ace.settings.compact,'hover':true}"
         ng-include="'views/layouts/default/partial/sidebar.html'"></div>

    <!--<div ng-include="'views/layouts/default/partial/sidebar.html'" ng-controller="SidebarCtrl"></div>-->
    <!--oc-lazy-load="['scripts/controllers/settings-controller.js']"-->
    <div class="main-content"><div class="main-content-inner">
        <div class="breadcrumbs" ng-class="{'breadcrumbs-fixed': settings.ace.settings.breadcrumbs}"
             ng-include="'views/layouts/default/partial/breadcrumbs.html'"></div>
        <div class="page-content" >
            <div class="ace-settings-container"
                 ng-include="'views/layouts/default/partial/settings.html'" ></div>
            <ui-view ng-show="!viewContentLoading"></ui-view>
        </div>
    </div></div>

    <div class="footer" ng-include="'views/layouts/default/partial/footer.html'"></div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>


<div ng-show="viewContentLoading" class="ajax-loading-overlay ajax-overlay-body">
    <i class="ajax-loading-icon fa fa-spin fa-spinner fa-2x orange"></i>
</div>